.header {
    display: flex;
    // background-color: black;
    // color: #fff;
    padding: 20px 0 20px 0;
    position: relative;
}
.showMenu {
    display: block;
}
.showMenu_cansel {
width: 20px;
height: 20px;
position: absolute;
top: 20px;
left: 250px;
}
.header_logo {
    display: flex;
    margin-left: 15px;
}
.header_user__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    & .header_user__item:last-child {
        margin-right: 0;
    }
}

.header_user__item {
    margin-right: 20px;
}
.header_icon {
    width: 20px;
    height: 20px;
    fill: #FF8C00;
}

@media screen  and (min-width: 768px) {
    .showMenu_cansel {
        left: 550px;
        }
}