@use '../../styles/variables' as *;

.orderForm {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.02;
  color: $text-color;
  display: block;
  margin: 0 auto;
  width: 280px;
}

.textField {
  margin-bottom: 10px;
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.02;
  color: $text-color;
}


.orderForm_container_address {
  display: flex;
  margin-bottom: 20px;
}
.textField_address {
  width: 130px;
}
.orderForm_comment {
  width: 280px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.02;
  color: $text-color;
}
.orderForm_button {
  background: #ffffff;
  box-shadow: 0px 1px 3px $accent-color, 0px 1px 1px $accent-color, 0px 2px 1px $accent-color;
  border-radius: 4px 4px 4px 4px;
  padding: 10px;
  color: $text-color;
  width: 220px;
  margin-left: 20px;
  margin-top: 20px;
  
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
}
.orderForm_select {
  margin-bottom: 10px;
  display: block;
  width: 280px;

    & input {
      width: 100%;
      
    }
}
.orderForm_select_adress {
    margin-left: 10px;
}
.orderForm_select_delivery {
  font-size: 12px;
}
.calendarColor {
  display: flex;
  align-items: center;
}
.date {
  font-weight: 600 !important;
  width: 80px;
  padding: 8px;
  margin-bottom: 10px;
  color: $accent-color !important;
}

.orderForm_select_date {
  margin-bottom: 15px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.02;
  color: $text-color;
}
  
.calendarColor :global .react-datepicker__day--selected {
  background-color: $accent-color;
}
.calendarColor :global .react-datepicker__day--keyboard-selected {
  background-color: $accent-color;
}

.calendarColor :global .react-datepicker-popper {
  z-index: 200;  
}
.calendarColor :global .react-datepicker-wrapper {
  width: 0;
}
.calendarColor :global .react-datepicker__triangle {
  left: 10px;
}
.orderForm_chekbox {
  margin-bottom: 15px;
}
.orderForm_chekbox_lable {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.02;
}
.orderForm_delivery_price_list {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.02;
  color: $text-color;
  border-bottom: 1px solid $text-color;
  margin-bottom: 20px;
  width: 170px;

  &:focus,
  &:hover {
    border-bottom: none;
  .orderForm_delivery_price_item {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    width: 280px;
  }
 }
}

.orderForm_delivery_price_item {
  display: none;
}

@media screen and (min-width: 768px) {
  .orderForm {
    width: 500px;
  
  }
  .textField {
    margin-bottom: 20px;
    width: 500px;
  }
  .orderForm_container_address {
    display: flex;
    margin-bottom: 20px;
  }
  .textField_address {
    width: 150px;
  }
  .orderForm_comment {
    width: 500px;
  }
  .orderForm_select {
    margin-bottom: 20px;
    width: 500px;
  }
  .orderForm_button {
    margin-left: 150px;
  }

}