@use '../../styles/variables' as *;
.categoriesList__container {
    height: 900px;
    width: 330px;
    position: absolute;
    padding: 35px 20px 0px 0px;
    top: -15px;
    left: 0;
    background-color: $background-color-second;
}
.logo {
   margin: 10px;
}
.categories_list {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: $text-color;
  width: 330px;
}
.categories_list__item {
    border-bottom: 1px solid $main-color;
    padding: 20px 0 20px 20px;
  
}
.button_select {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: $text-color;
}
.button_baby__icon {
    margin-left: 50px;
    width: 15px;
    height: 15px;
}
.button_birthDay__icon {
    margin-left: 140px;
    width: 15px;
    height: 15px;
}
.button_thematics__icon {
    margin-left: 150px;
    width: 15px;
    height: 15px;
}
.categories_listBaby__item, .categories_listBirthDay__item, .categories_listThematics__item {
    margin-left: 15px;
    margin-top: 15px;
  
}
@media screen and (min-width: 330px) {
    .categoriesList__container {
        width: 100vw;
        // height: 100vh;
    }
}
@media screen and (min-width: 768px){
    .categories_list {
      width: 600px;
    }
  
    .button_baby__icon {
        margin-left: 320px;
    }
    .button_birthDay__icon {
        margin-left: 410px;
    }
    .button_thematics__icon {
        margin-left: 425px;
    }
    .categories_listBaby__item, .categories_listBirthDay__item, .categories_listThematics__item {
        margin-left: 20px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 1200px){
    .logo {
        display: none;
    }
    .categories_list {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     width: 100%;
    }
    .categories_list__item {
        border-bottom: none;
        margin-right: 10px;
        margin-top: 0;
        text-align: center;
        position: relative;
        & svg {
            margin-left: 0;
            margin-right: 2px;
        }
    }
    .categories_list .categories_list__item:last-child {
        margin-right: 0;
    }

    .categories_listBaby, .categories_listBirthDay, .categories_listThematics  {
        text-align: left;
        position: absolute;
        top: 70px;
        padding: 15px;
        background-color: #fff;
        border-radius: 0 0 15px 15px;
        opacity: 1;
        z-index: 200;
        margin: 0 auto;

        & li {
            margin-top: 20px;
            margin-left: 0;
        }
    }
    .categories_listBaby {
        left: 13px;
        width: 230px;
    }
    .categories_listBirthDay {
        width: 165px;
        left: -10px;
    }
    .categories_listThematics {
        width: 175px;
        left: -10px;
    }
}
