.logo {
   margin-top: 10px;
}
.categories_list {
  margin-top: 20px;
}
.categories_list__item {
    border-bottom: 1px solid #000;
    margin-top: 20px;
}
.button_select {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_baby__icon {
    margin-left: 20px;
    width: 15px;
    height: 15px;
}
.button_birthDay__icon {
    margin-left: 115px;
    width: 15px;
    height: 15px;
}
.button_thematics__icon {
    margin-left: 130px;
    width: 15px;
    height: 15px;
}
.categories_listBaby__item, .categories_listBirtDay__item {
    margin-left: 15px;
    margin-top: 5px;
}

@media screen and (min-width: 768px){
    .categories_list {
      width: 500px;
    }
  
    .button_baby__icon {
        margin-left: 248px;
    }
    .button_birthDay__icon {
        margin-left: 340px;
    }
    .button_thematics__icon {
        margin-left: 360px;
    }
    .categories_listBaby__item, .categories_listBirtDay__item {
        margin-left: 20px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 1200px){
    .categories_list {
     display: flex;
     margin-left: 0px;
     margin-right: 0;
    }
    .categories_list__item {
        border-bottom: none;
        margin-right: 30px;
    }
    .categories_list .categories_list__item:last-child {
        margin-right: 0;
    }
    .button_baby__icon {
        margin-left: 0px;
        width: 8px;
        height: 5px;
    }
    .button_birthDay__icon {
        margin-left: 0px;
        width: 8px;
        height: 5px;
    }
    .categories_listBaby__item, .categories_listBirtDay__item {
        margin-left: 20px;
        margin-top: 10px;
    }
}
