
.showMenu {
    display: block;
    margin-left: 280px;
}
.categories_list {
  margin: 20px;
 
}
.categories_list__item {
    border-bottom: 1px solid #000;
    margin-top: 20px;
}
.button_select {
    display: flex;
    
}
.button_baby__icon {
    margin-top: 7px;
    margin-left: 30px;
}
.button_birthDay__icon {
    margin-top: 7px;
    margin-left: 125px;
}
.categories_listBaby__item, .categories_listBirtDay__item {
    margin-left: 15px;
    margin-top: 5px;
}

@media screen and (min-width: 768px){
    .showMenu {
        margin-left: 700px;
    }
    .categories_list {
      margin: 30px;
    }
  
    .button_baby__icon {
        margin-left: 400px;
    }
    .button_birthDay__icon {
        margin-left: 493px;
    }
    .categories_listBaby__item, .categories_listBirtDay__item {
        margin-left: 20px;
        margin-top: 10px;
    }
}

