@use '../../styles/variables' as *;
.list {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.card_item {
    color: $text-color;
    position: relative;
 
    & .card_item__hover{
        content: '';
        left: -15px;
        right: -15px;
        top: 0;
        bottom: 0;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        background-color: #ffffff;
        box-shadow: 3px 3px 4px 4px $accent-color;
        border-radius: 4px;
        padding: 10px;
        transform: translate3d(0,0,0) scale(.4);
        transition: all .4s;
    }
    &:hover,
    &:focus {
        z-index: 200;
        
        &  .card_item__hover {
            visibility: visible;
            opacity: 1;
            transform: translate3d(0, 0, 0);
            margin-top: -15px;
            margin-bottom: -50px;
        }
       .card_basket__button {
           visibility: visible;
           opacity: 1;
           position: absolute;
            border: 1px solid $accent-color;
            transform: translate3d(0, 0, 0);
            border-radius: 20px;
            width: 100px;
            margin: 110px 0 0 12px;
            padding: 5px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.02;
            color: $text-color;
            &:hover,
            &:focus {
                background-color: $accent-color;
                & svg {
                    fill: $main-color;
                }
            }
        }

        .cart_description {
            position: absolute;
        }
    }
}
.img_container {
    position: relative;
    & img {
        width: 100%;
        height: auto;
    }
}

.card_title {
    max-width: 150px;
    margin: 10px 0 20px 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.card_price {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.02;
}
.cardDescription_button__favorite {
    position: absolute;
    top: 5px;
    left: 95px;
    box-shadow: 1px 2px 3px $accent-color;
    border-radius: 50px;
    padding: 6px;
    background-color: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover,
    &:focus {
        background-color: $accent-color;

        & .cardDescription_button__icon__select {
            display: flex;
            fill: $main-color;
        }
        & .cardDescription_button__icon {
            display: none;
        }
    }
}
.cardDescription_button__icon__select {
    display: none;
}
.cardDescription_button__icon {
    width: 20px;
    height: 20px;
    fill: $main-color;
}
.card_basket__button {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0,0,0) scale(.5);
  
}
.card_basket__button__icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    fill: $accent-color;
}

@media screen and (min-width: 768px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card_item {
        &:hover,
        &:focus {
        
            &  .card_item__hover {
                margin-top: -25px;
                margin-bottom: -80px;
                
            }
           .card_basket__button {
                width: 150px;
                margin: 110px 0 0 45px;
                padding: 6px;
            }
        }
    }
    .card_title {
        max-width: 200px;
        font-size: 16px;
    }
    .cardDescription_button__favorite {
        left: 195px;
        top: 10px
    }
}

@media screen and (min-width: 1200px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .card_title {
        max-width: 350px;
        font-size: 16px;
    }
    .card_basket__button {
        width: 190px;
        padding: 10px;
    }
    .cardDescription_button__favorite {
        left: 210px;
    }

}