@use '../../styles/variables' as *;
.list {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.card_container {
    color: $text-color;
    padding-bottom: 10px;
    &:hover,
    &:focus {
        background: #ffffff;
        box-shadow: 0px 1px 3px $accent-color, 0px 1px 1px $accent-color, 0px 2px 1px $accent-color;
        border-radius: 0px 0px 4px 4px;
        padding: 8px;

        .cardDescription_button__favorite {
            left: 75px;
        }

        .card_basket__button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $accent-color;
            border-radius: 20px;
            width: 100px;
            margin-top: 20px;
            padding: 5px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.02;
            &:hover,
            &:focus {
                background-color: $accent-color;

                & svg {
                    fill: $main-color;
                }
            }
        }
    }
}
.img_container {
    position: relative;
}

.card_title {
    max-width: 150px;
    margin: 10px 0 20px 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
.card_price {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.02;
}
.cardDescription_button__favorite {
    position: absolute;
    top: 5px;
    left: 90px;
    box-shadow: 0px 1px 3px $accent-color, 0px 1px 1px $accent-color, 0px 2px 1px $accent-color;
    border-radius: 50px;
    padding: 6px;
    background-color: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover,
    &:focus {
        background-color: $accent-color;

        & .cardDescription_button__icon__select {
            display: flex;
            fill: $main-color;
            
        }
        & .cardDescription_button__icon {
            display: none;
        }
    }
}
.cardDescription_button__icon__select {
    display: none;
}
.cardDescription_button__icon {
    width: 20px;
    height: 20px;
    fill: $main-color;
}
.card_basket__button {
    display: none;
}
.card_basket__button__icon {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    fill: $accent-color;
}

@media screen and (min-width: 768px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    .img {
        width: 200px;
    }
    .card_title {
        max-width: 200px;
        font-size: 20px;
    }
    .card_basket__button {
        width: 150px;
        margin: 0 auto;
    }
    .cardDescription_button__favorite {
        left: 150px;
    }

    .card_container {
                
        &:hover,
        &:focus {
            padding: 10px;
            .cardDescription_button__favorite {
                left: 137px;
            }
            .card_basket__button {
                width: 130px;
                padding: 8px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .img {
        width: 350px;
    }
    .card_title {
        max-width: 350px;
        font-size: 18px;
    }
    .card_basket__button {
        width: 190px;
        padding: 10px;
    }
    .cardDescription_button__favorite {
        left: 205px;
    }

    .card_container {
        &:hover,
        &:focus {
    
            .cardDescription_button__favorite {
                left: 190px;
            }
        }
    }
}