@use '../../styles/variables' as *;
.swiper {
    margin-top: 30px;
}
.swiperSlider {
    position: relative;
}
.transparent {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
}
.swiper_mobile {
    width: 300px;
    margin: 0 auto;
    position: relative;
}
.title_mobile {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 8;
    text-align: center;
    color: $accent-color;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}
.slider_tab {
    display: none;
}
.title_tab {
    display: none;
}

@media screen and (min-width: 768px) {
    .slider_tab {
        display: block;
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
    }
    .title_tab {
        display: block;
        position: absolute;
        top: 30px;
        left: 50px;
        z-index: 20;
        text-align: center;
        color: $accent-color;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
        width: 500px;
    }
    .swiper_mobile {
        display: none;
    }
    .title_mobile {
        display: none;
    }
}
  
  
  
  