.basket_list {
  color: #696969;
}

.basket_list__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #708090;
  padding: 6px 0 6px 0;
}

.basket_photo {
  width: 70px;
  height: 90px;
}
.basket_photo img {
  width: auto;
  height: 100%;
}

.basket_list__item__product {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.02;
}

.basket_list__item__product__title {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 15px;
}

.basket_list__item__product__art {
  font-size: 12px;
}

.basket_couter {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.basket_couter__list {
  display: flex;
  align-items: center;
}
.basket_couter__list .basket_couter__list__item:last-child {
  margin-right: 0;
  margin-left: 10px;
}

.basket_couter__list__item {
  margin-right: 10px;
}

.basket_couter__list__item_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1px solid #FFA500;
}

.basket__price {
  margin-left: 15px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #696969;
}

.basket_sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  color: #696969;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
}

.basket_order__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #696969;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
}

.basket_order_continu {
  text-align: center;
  color: #696969;
  font-size: 14px;
  border-bottom: 1px solid #708090;
}

.basket_order_button {
  margin-left: 20px;
  width: 290px;
  font-size: 16px;
  padding: 10px;
  background-color: #FFA500;
  box-shadow: 0px 1px 3px #FFA500, 0px 1px 1px #FFA500, 0px 2px 1px #FFA500;
  border-radius: 40px;
  color: #696969;
}

@media screen and (min-width: 768px) {
  .basket {
    width: 500px;
  }
  .basket_list__item {
    padding: 25px 0 25px 0;
  }
  .basket_photo {
    width: 115px;
    height: 140px;
  }
  .basket_photo img {
    width: 100%;
  }
  .basket_list__item__product {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.2;
  }
  .basket_list__item__product__title {
    margin-bottom: 15px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 16px;
  }
  .basket_couter {
    margin-top: 20px;
  }
  .basket_couter__list__item {
    margin-right: 20px;
  }
  .basket_couter__list__item_button {
    width: 30px;
    height: 30px;
  }
  .basket__price {
    margin-left: 30px;
  }
  .basket_sum {
    margin: 20px;
  }
  .basket_order_container {
    font-size: 18px;
  }
  .basket_order_continu {
    font-size: 16px;
  }
  .basket_order_button {
    margin-left: 60px;
    width: 300px;
    padding: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .basket_photo {
    width: 120px;
    height: 150px;
  }
}