@use '../../styles/variables' as *;
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: $accent-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    width: 330px;
    background-color: $text-color;
    cursor: pointer;
}
.footer_rules__link {
    margin-left: 5px;
    font-size: 12px;
    border-bottom: 1px solid $accent-color;
}

@media screen and (min-width: 330px) {
    .footer {
        width: 100vw;
    }
}
@media screen and (min-width: 1200px) {
    .footer {
        font-size: 16px;
    }
}