@use '/styles/variables' as *;

.search_form {
    display: flex;
}

.searchForm_button {
    margin-left: 10px;
}
.searchForm_input {
    width: 280px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.02;
    color: $text-color;
}