
// display sizes
$desktop: 1280px;
$tablet: 768px;
$mobile: 320px;

//colors

$accent-color: #FFA500;
$main-color: #708090;
$text-color: #696969;
// $text-color: #1d1d1d;
// $white-color: #fff;
// $background-color: #e5e5e5;
// $background-color-second: #fbe0dc;
// $form-color: #f8f8f7;