.basketPage {
    display: flex;
    margin-bottom: 1px solid #696969;
}
.basketPage__cont {
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.basket_couter {
    display: flex;
    margin-top: 15px;
}
.basket_couter__list {
    display: flex;
}
.basket_couter__list__item {
    margin-right: 10px;
 
}
.basket_couter__list__item_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #FF8C00;
}
.basket_couter__list__item_button_icon {
    display: block;
   padding: 5px;
    
}
.basket__price {
    margin-left: 15px;
}
.basket_sum {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-top: 1px solid #696969;
}
.basket_order_container {
    display: flex;
    
}

.basket_order_continu {
    text-align: center;
}
.basket_order_button {
    // margin-left: 20px;
    width: 260px;
    background-color: #FF8C00;
    padding: 3px;
    border-radius: 40px;
}