@use './variables' as *;
.categories_list {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 35px;
    color: $text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.02;


    & li {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        & svg {
            fill: $accent-color;
        }
    }

    & li:last-child {
        margin-right: 0;
    }
}

.categories_filters__button {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
    border-top: 2px solid $accent-color;
    border-bottom: 2px solid $accent-color;
    color: $main-color;
    cursor: pointer;

    & button {
        width: 50%;
        padding: 10px;
        // font-size: 2.8125vw;
        // line-height: 9.53125vw;
        text-align: center;
        display: inline-block;
        vertical-align: middle;

        &:first-child {
            border-right: 2px solid $accent-color;
        }

    }
}


// .categories_filters__button__sort {
//     border-left: 1px solid $accent-color;
//     padding: 10px;
//     text-align: center;
// }