html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  text-decoration: none;
  border: none;
  padding: 0;
  background-color: transparent;
}
input {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
select{
  padding: 0;
  margin: 0;
}


.mobilemenu_content {
  position: fixed;
  z-index: 1;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  visibility: hidden;
  transition: transform .5s ease .1s;
  transform: translateX(-110%);
}
.activeContent {
  transform: translateX(0);
  transition: transform .5s ease 0s;

}

.active {
  visibility: visible;
  transition: visibility 0s ease 0s;
  position: fixed;
  z-index: 1009;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.mobile_background {
  position: fixed;
  z-index: 1009;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transition: visibility 0s ease .6s;
}
.swiper {
 width: 100%;
 /* height: 100%; */
 /* mask-image: linear-gradient(to right, rgba(47,48,58,0.7), rgba(47,48,58,0.7)); */
}
.swiper-slide img {
  display: block;
  width: 100%;
 height: 220px;
  object-fit: contain;

}

@media screen and (min-width: 768px) {
     .swiper {
      width: 100%;
      height: 100%;
    }
   }

 
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
